.topBanner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    z-index: 5;
    height: 30%;
    margin: 30px auto;
    /* box-shadow: 2px 2px 2px 2px #aaaaaa; */
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    transition: all 500ms ease;
}

.topBanner-container:hover{
    border: 1px solid rgb(101, 1, 137);
    transform: scale(1.01);
} 

.heading{
    font-size:2rem;
    font-weight: 600;
}

.heading-1{
    font-size: 5rem;
    font-weight: bold;
}

.img-button-container{
    display: flex;
    width: 60%;
    margin: 8px auto;
}

.img-container{
    margin: 0 5px;
}

img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.chip{
    width:90%;
    cursor: pointer;
    border-radius: 40px;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    border: none;
    color: whitesmoke;
    font-size: 1rem;
    z-index: 10;
    transition: all 500ms ease; 
}

button:hover{
    transform: scale(1.02);
}